<footer class="site-footer">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleForFooter.css') }}">

    <div class="logo">
        <br>
        <img src="{{ url_for('static', filename='images/logos/Logo3.png') }}" alt="logo!">
    </div> <br> <br><br>
    <div class="footer-section1">
        <p>
            Richmond, RI, USA<br>
            Custom Photography Sessions<br>
            Email: cstoltphotos@gmail.com<br>
            Insta: @cstolt.photography
        </p>
    </div>
    
    

</footer>

<div class="footer-bottom">
    COPYRIGHT © 2026 · CARTER STOLT RI PHOTOGRAPHY
</div>