<link rel="stylesheet" href="{{ url_for('static', filename='horizNavigationBar.css') }}">
<link rel="icon" type="image/x-icon" src="{{ url_for('static', filename='images/logos/Logo2.png') }}" alt="logo!">

<h1 class="title-header">Carter Stolt Photography</h1>


<nav class = "navbar">
    <ul>
    <li><a href="/">
        <img class="logo-on-header" src="{{ url_for('static', filename='images/logos/Logo3.png') }}" alt="logo!">
    </a></li>
    <li><a href="/gallery">Galleries</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/about">About</a></li>
    </ul>
</nav>
    
